.user-list {
    list-style: none;
    padding: 50;
    
  }
  
  .user-item {
    margin-bottom: 10px;
  }
  
  .user-button {
    padding: 8px 16px;
    background-color: rgb(247, 181, 60);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;margin-left: 450px;
  }
  
  .user-button:hover {
    background-color: rgb(247, 181, 60);
  }
  